
<header>
  <ul class="page-nav">
    <li><a href="/index.html">文章</a></li>
    <li><a href="/demo.html">Demo</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>


    <div style="min-height: 64px;">
      <script>
  (function() {
    var cx = '000120512111193585777:jcbgjxdhzuq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
    </div>
</header>
